
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=cl_image_path @list.photo.key, crop: :fill%>);">
  <div class="container">
    <h1> <%= @list.name %></h1>
  </div>
</div>



<div class="container">
  <%= link_to "Add a movie", new_bookmark_path(@list) %>


  <div class="movie-card-container d-flex flex-wrap justify-content-between container my-5">
    <% @list.bookmarks.each do |bookmark| %>
    <div class="movie-card ">
      <img src=<%=bookmark.movie.poster_url %> style="width: 100%; height:70%;">
      <div class="container pt-3" >
        <div><strong>  <%= bookmark.movie.title %></strong></div>
          <p style="color: grey; font-size:13px;"><%= bookmark.movie.overview %></p>
      <p> <i class="fa-solid fa-quote-left"></i> <%= bookmark.comment %></p>
<%= link_to "Delete", bookmark_path(bookmark),   data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>

        </div>
  <% end %>
  </div>



</div>
